
@{
    ViewData["Title"] = "Index";
}

<form action="" method="post" enctype="multipart/form-data">
    <div class="input-group">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="file" name="file" onchange="changeTextValue()" />
            <label class="custom-file-label" for="file" id="fileLabel">Filename:</label>
        </div>
    </div>
    <div class="input-group">
        <input class="btn btn-outline-secondary" type="submit" />
    </div>
</form>


<script>
    function changeTextValue() {
        var fileInput = document.getElementById("file");
        document.getElementById("fileLabel").innerText = fileInput.files.item(0).name;
    }
</script>