
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>
    Article
</h1>

<form>
    <div class="form-group row">
        <label for="author">Author</label>
        <div class="col-sm-9 offset-2">
            <input type="text" class="form-control" id="author">
        </div>
    </div>
    <div class="form-group row">
        <label for="title">Title</label>
        <div class="col-sm-9 offset-2">
            <input type="text" class="form-control" id="title">
        </div>
    </div>
    <div class="form-group row">
        <label for="year">Year</label>
        <div class="col-sm-9 offset-2">
            <input type="text" class="form-control" id="year">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>