
@{
	ViewData["Title"] = "Send Email";
}
@using (Html.BeginForm("SendEmail", "Chat", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<div class="row">
		<div class="col-md-12">
			<div class="block">
				<div class="block-heading">
					<div class="main-text h2">
						Mesaj Gönderme Sayfası
					</div>
				</div>
				<div class="block-content-outer">
					<div class="block-content-inner">
                        <form action="/Chat/SendEmail" method="post" role="form">
                            <div class="form-group">
                                <label>Mesaj İçeriği</label>
                                <textarea name="Icerik" id="" cols="30" rows="7" class="form-control" placeholder="Mesaj İçeriğini Giriniz" style="margin-top: 0px; margin-bottom: 0px; height: 181px;"></textarea>
                            </div>
                            @if (User.Identity.AuthenticationType == "Akademisyen Claims")
                            {
                                <div class="form-group">
                                    <label>Öğrenci Seçiniz</label>
                                    <select class="form-control" name="ReceiverId" required>
                                        @foreach (Ogrenci ogrenci in ViewBag.Ogrenciler)
                                        {
                                            <option value="@ogrenci.MessageId">
                                                @string.Join(' ', ogrenci.Ad, ogrenci.Soyad)
                                            </option>
                                        }
                                    </select>
                                </div>
                            }
                            else if (User.Identity.AuthenticationType == "Ogrenci Claims")
                            {
                                <div class="form-group">
                                    <label>Akademisyen Seçiniz</label>
                                    <select class="form-control" name="ReceiverId" required>
                                        @foreach (AkademikPersonel akademisyen in ViewBag.Akademisyenler)
                                        {
                                            <option value="@akademisyen.MessageId">
                                                @string.Join(' ', akademisyen.Ad, akademisyen.Soyad)
                                            </option>
                                        }
                                    </select>
                                </div>
                            }
                            <div class="form-group">
                                <label>Eklenti</label><br><br>
                                <input type="file" name="Eklenti">
                            </div>
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
}


