
@{
    ViewData["Title"] = "DevamProjesi";
}

	<div class="block-content-outer">
		<div class="block-content-inner">
			<form action="/Ogrenci/DevamProjesi" method="post" role="form">
				<div class="block-heading">
					<div class="main-text h2">
						Eski Projeleri Önerme
					</div>
				</div>


				<div class="form-group">
					<label>Projenizin İsmini Seçiniz</label>
					<select class="form-control" name="id" required>
						@foreach (EskiBasarisizAlinanProje proje in ViewBag.projem)
						{
							<option value="@proje.Id">
								@proje.Isim
							</option>
						}
					</select>
				</div>

				<div class="table-responsive m-b-20">
					<table class="table table-borderless table-data3">
						<thead>
							<tr>
								<th>İsim</th>
								<th>Form-2</th>
							</tr>
						</thead>
						<tbody>
							@foreach (EskiBasarisizAlinanProje eskiProje in ViewBag.projem)
							{
								<tr>
									<td>@(eskiProje.Isim)</td>
									<td>
										@Html.ActionLink("pdf", "PdfGoruntule", "PdfViewer", new { path = eskiProje.Form2, banch = eskiProje.Danisman.Kisaltma }, new { target = "_blank" })
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>

				<button type="submit" class="btn btn-primary">Kaydet</button>
			</form>
		</div>
	</div>

